{% extends 'layout_categories.html.twig' %}

{% block title %}
    Equipment Category
{% endblock %}

{% block pagetitle %}
    Equipment Category
{% endblock %}

{% block body %}
    {{ parent() }}

    <form action="../save" method="post" id="save">        
        <table class="form_table" width="940" border="0" cellspacing="0" cellpadding="2">
            <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
             <input type="hidden" name="id" value="{{category.id}}" />
            <thead>
                <tr>
                    <th colspan="2">
            <h4>{{ title }}</h4>
            </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">
                        <em>Category information: Public categories are published if it has published equipment.</em>
                    </th>
                </tr>
                <tr>
                    <td width="180" class="required">Category Type:</td>
                    <td>
                        <input type="radio" name="ispublic" value="1" 
                               {% if category.ispublic == 1 %}
                                   checked="checked"
                               {% endif %}
                               >
                        <b>Public</b> (publish)
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ispublic" value="0" 
                               {% if category.ispublic == 0 %}
                                   checked="checked"
                               {% endif %}
                               >
                        Private (internal)

                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div style="padding-top:3px;"><b>Category Name</b>:&nbsp;<span class="faded">Short descriptive name.</span></div>
                        <input type="text" size="70" name="name" value="{{ category.name }}">
                        <br>
                        <div style="padding-top:5px;">
                            <b>Category Description</b>:&nbsp;<span class="faded">Summary of the category.</span>
                            &nbsp;
                        </div>
                        <textarea class="richtext redactor editor" name="description" cols="21" rows="12" style="width:98%;">
                            {{ category.description }}</textarea>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <em>Internal Notes&nbsp;</em>
                    </th>
                </tr>
                <tr>
                    <td colspan=2>
                        <textarea name="notes" cols="21" rows="8" style="width: 80%;">
                            {{ category.notes }}
                        </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="padding-left:225px;">
            <input type="submit" name="submit" value="Save">
            <input type="reset"  name="reset"  value="Reset">
            <input type="button" name="cancel" value="Cancel" onclick='window.location.href = "../list"'>
        </p>
    </form>
{% endblock %}

