{% block items_list %}
    <div id="itemsPanel" title="Equipment Items" class="margin-bottom: 20px;"> 
        <div id="itemsDataTable"></div> 
        <div id="itemActionButtons" style="padding-top:10px;">            
            <button id="itemAdd" type="button">New</button>                 
            <button id="itemEdit" type="button">View/Edit</button>
            <button id="itemPublish" type="button">Publish</button>
            <button id="itemUnpublish" type="button">Unpublish</button>
            <button id="itemActivate" type="button">Activate</button>
            <button id="itemDeactivate" type="button">Deactivate</button>
            <button id="itemDelete" type="button">Delete</button>
        </div>

        <form action="../item/publish" method="post" id="publishForm">   
            <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
            <input type="hidden" name="item_id" value="" />
            <input type="hidden" name="item_publish" value="" />
        </form>

        <form action="../item/activate" method="post" id="activateForm">   
            <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
            <input type="hidden" name="item_id" value="" />
            <input type="hidden" name="item_activate" value="" /> 
        </form>

        <form action="../item/delete" method="post" id="deleteForm" id="classForm">
            <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
            <input type="hidden" name="id" value="" />
        </form>
    </div>
{% endblock %}