<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Application Title{% endblock %}</title>
        {% block javascripts %}
            <script src="assets/js/jquery-2.1.0.min.js"></script>
            <script src="assets/js/jquery-ui/js/jquery-ui-1.10.4.js"></script>
            <script src="assets/js/primeui/production/primeui-1.0-min.js"></script> 
            <script src="assets/js/jquery.validate.js"></script> 
        {% endblock %}
        {% block stylesheets %}
            <link href="assets/css/equipment.css" rel="stylesheet" />
            <link href="assets/js/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.css" rel="stylesheet" />
            <link href="assets/js/primeui/themes/cupertino/theme.css" rel="stylesheet" />
            <link href="assets/js/primeui/production/primeui-1.0-min.css" rel="stylesheet" />
        {% endblock %}
        <script>
            var ostroot = "{{ constant('OST_WEB_ROOT') }}";
            var eq_root = "{{ constant('EQUIPMENT_WEB_ROOT') }}";
        </script>
    </head>
    <body>

        <div id="container">

            <div id="header">
                {% block header %}
                    <div>
                        <a href="{{ constant('OST_WEB_ROOT') }}scp/index.php" class="no-pjax" id="logo">Back to osTicket</a>

                        {% if staff is defined %}
                            <p id="info">Welcome, <strong>{{ staff.firstName }}</strong>

                                {% if staff.isadmin %}
                                    | <a href="{{ constant('OST_WEB_ROOT') }}scp/admin.php" class="no-pjax">Admin Panel</a>
                                {% endif %}

                                | <a href="{{ constant('OST_WEB_ROOT') }}scp/profile.php">My Preferences</a>

                                {% if linktoken is defined %}
                                    | <a href="{{ constant('OST_WEB_ROOT') }}scp/logout.php?auth={{ linktoken }}" class="no-pjax">Log Out</a>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>

                {% endblock %}
            </div>
            <div id="menuBar">
                <ul id="menuBarList">
                    <li> <a data-icon="ui-icon-bookmark" href="{{ constant('EQUIPMENT_WEB_ROOT') }}dashboard/">Dashboard</a> </li>
                    <li> <a data-icon="ui-icon-folder-collapsed" href="{{ constant('EQUIPMENT_WEB_ROOT') }}categories/list">Categories</a> </li>
                    <li> <a data-icon="ui-icon-tag" href="{{ constant('EQUIPMENT_WEB_ROOT') }}status/list">Status</a> </li>
                    <li> <a data-icon="ui-icon-clock" href="{{ constant('EQUIPMENT_WEB_ROOT') }}recurring/list">Recurring</a> </li>
                </ul>
            </div>


            <div id="content">

                <h2>
                    {% block pagetitle %}
                        Equipment Categories
                    {% endblock %}
                </h2>
                <div id="delete-dialog-confirm" title="Confirm Dialog">
                    Are you sure you want to delete this item?
                </div>
                <div id="messages"></div>

                {% if flash is defined %}                    
                    <script>
                        flash_severity = "{{ flash.severity }}";
                        flash_summary = "{{ flash.summary }}";
                        flash_details = "{{ flash.details }}";
                    </script>
                {% endif %}

                {% block body %}               
                {% endblock %}


                <div id="footer">
                    {% block footer %}

                        Copyright © 2014&nbsp;XpressTek&nbsp;All Rights Reserved.

                    {% endblock %}
                </div>
            </div>
    </body>
</html>