<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Application Title{% endblock %}</title>
        {% block javascripts %}

        {% endblock %}
        {% block stylesheets %}
            <link href="assets/css/equipment.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div id="container">

            <div id="header">
                {% block header %}
                    <a href="{{ constant('OST_WEB_ROOT') }}scp/index.php" class="no-pjax" id="logo">Back to osTicket</a>

                    {% if staff is defined %}
                        <p id="info">Welcome, <strong>{{ staff.firstName }}</strong>

                            {% if staff.isadmin %}
                                | <a href="{{ constant('OST_WEB_ROOT') }}scp/admin.php" class="no-pjax">Admin Panel</a>
                            {% endif %}

                            | <a href="{{ constant('OST_WEB_ROOT') }}scp/profile.php">My Preferences</a>

                            {% if linktoken is defined %}
                                | <a href="{{ constant('OST_WEB_ROOT') }}scp/logout.php?auth={{ linktoken }}" class="no-pjax">Log Out</a>
                            {% endif %}
                        </p>
                    {% endif %}
                {% endblock %}
            </div>


            <div id="content">

                <h2>
                    {% block pagetitle %}
                        Equipment Categories
                    {% endblock %}
                </h2>
                {% block body %}               
                {% endblock %}


                <div id="footer">
                    {% block footer %}

                        Copyright © 2014&nbsp;XpressTek&nbsp;All Rights Reserved.

                    {% endblock %}
                </div>
            </div>
    </body>
</html>