{% extends 'layout_categories.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/recurring_add.js"></script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block pagetitle %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="recurringTicket" style="margin-bottom:20px" title="Add Recurring Ticket">  
        <form action="{{ constant('EQUIPMENT_WEB_ROOT') }}recurring/save/0" method="post" id="saveForm">  
            <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />            
            <table>
                <tr>

                    <td>
                        Ticket:
                    </td>
                    <td>
                        <select id="ticketsDD" name="ticket_id">  
                            {% for item in tickets %}
                                <option value="{{ item.id }}"
                                        {% if item.id == ticket.id %}
                                            selected
                                        {% endif %}
                                        >{{ item.number }} - {{ item.subject }}</option>  
                            {% endfor %}
                        </select>  
                    </td>
                </tr>
                <tr>
                    <td>
                        Equipment:
                    </td>
                    <td>
                        <select id="equipmentDD" name="equipment_id">  
                            {% for item in equipments %}
                                <option value="{{ item.id }}"
                                        {% if item.id == equipment.id %}
                                            selected
                                        {% endif %}
                                        >{{ item.asset_id }}</option>  
                            {% endfor %}
                        </select> 
                    </td>

                </tr>
                <tr>
                    <td>
                        Repeat Every:
                    </td>
                    <td>
                        <input id="interval" name="interval" type="text" /> 
                        <select id="intervalDD" name="interval_multiplier"> 
                            <option value="86400">Days</option>
                            <option value="3600">Hours</option>
                            <option value="60">Minutes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Start Date:
                    </td>
                    <td>
                        <input id="next_date" name="next_date" type="text" />                      
                    </td>
                </tr>
                 <tr>
                    <td>
                        Active:
                    </td>
                    <td>
                        <input id="active" name="active" type="checkbox" />                      
                    </td>
                </tr>
            </table>
            <p style="padding-left:225px;">               
                <button id="saveButton" type="submit">Save</button>  
                <button id="resetButton" type="button">Reset</button>  
                <button id="cancelButton" type="button">Cancel</button>                  
            </p>
        </form>
    </div>

{% endblock %}

