{% extends 'layout_categories.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/recurring_view.js"></script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block pagetitle %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="recurringTicket" style="margin-bottom:20px" title="Recurring Events for Ticket {{ticket.id}} ">  
        <script>
            currentTicket = {{ticket.id}};
        </script>
        {% for item in items %}
            <hr />
            <div>
                <ul>
                    <li>
                        {{ item.equipment_id }}
                        {{ item.last_opened }}
                        {{ item.next_date }}
                        {{ item.interval }}
                        {{ item.active }}
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <div id="actionButtons">
         <button id="intervalAdd" type="button">Add</button>
    </div>

{% endblock %}

