{% extends 'layout_categories.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/equipment_status_view.js"></script>
    <script src="assets/js/item_list_view.js"></script>
{% endblock %}

{% block title %}
    Equipment Status
{% endblock %}

{% block pagetitle %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="itemEditPanel" style="margin-bottom:20px" title=" {{ title }}"> 
        <form action="../save" method="post" id="saveForm">   
            <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
            <input type="hidden" name="id" value="{{item.id}}" />
            <script>selectedCategory ={{item.id}} ;</script>
           

            <div style="padding-top:3px;"><b>Status Name (required)</b>:&nbsp;
                <span class="faded">Short descriptive name.</span>
            </div>
            <input id="status_name" type="text" size="70" name="name" value="{{ item.ht.name }}" required/>
            <br>

            <div style="padding-top:3px;"><b>Image</b>:&nbsp;
                <span class="faded">Path to an image to use for this status.</span>
            </div>
            <input id="status_image" type="text" size="70" name="image" value="{{ item.ht.image }}">                    
            <br>

            <div style="padding-top:3px;"><b>Color</b>:&nbsp;
                <span class="faded">Status color code.</span>
            </div>
            <input id="status_color" type="text" size="70" name="color" value="{{ item.ht.color }}">                    
            <br>

            <div style="padding-top:3px;"><b>Default</b>:&nbsp;
                <span class="faded">This is the default status</span></div>            
            <input type="checkbox" name="baseline" value="1" 
                   {% if item.ht.baseline %}
                       checked="checked"                 
                   {% endif %}
                   />     
            <br>

            <div style="padding-top:5px;">
                <b>Status Description</b>:
            </div>

            <textarea id="status_description" name="description" cols="21" rows="5" style="width:98%;">
                {{ item.ht.description }}
            </textarea>


            <p style="padding-left:225px;">               
                <button id="saveButton" type="submit">Save</button>  
                <button id="resetButton" type="button">Reset</button>  
                <button id="cancelButton" type="button">Cancel</button>                  
            </p>
        </form>
    </div>
    {% if item.id > 0 %}
        {% include "items_list.html.twig" %}
    {% endif %}
{% endblock %}

