<form action="../save" method="post" id="saveForm">   
    <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" />
    <input type="hidden" name="id" value="{{item.id}}" />

    Category Type:
    <table class="radio_table">  
        <tr>  
            <td>
                <input type="radio" name="ispublic" value="1" 
                       {% if item.ispublic == '1' %}
                           checked="checked"
                       {% endif %}                               
                       />
                <strong>Public</strong> (published)
            </td>  
            <td>
                <input type="radio" name="ispublic" value="0" 
                       {% if item.ispublic == '0' %}
                           checked="checked"
                       {% endif %}
                       >
                Private (internal)
            </td>  
        </tr>
    </table>

    <div style="padding-top:3px;">
        <b>Category Name (required)</b>:&nbsp;
        <span class="faded">Short descriptive name.</span>
    </div>

    <input id="name" type="text" size="70" name="name" value="{{ item.name }}" required/>
    <br>

    <div style="padding-top:5px;">
        <b>Category Description</b>:&nbsp;
        <span class="faded">Summary of the category.</span>
    </div>

    <textarea id="description" name="description" cols="21" rows="5" style="width:98%;">
        {{ item.description }}
    </textarea>

    <div style="padding-top:5px;">
        <b>Internal Notes</b>
    </div>

    <textarea id="notes" name="notes" cols="21" rows="5" style="width: 98%;">
        {{ item.notes }}
    </textarea>

    <p style="padding-left:225px;">               
        <button id="saveButton" type="submit">Save</button>  
        <button id="resetButton" type="button">Reset</button>  
        <button id="cancelButton" type="button">Cancel</button>                  
    </p>
</form>


{% if item.id > 0 %}
    <script>
        var selectedCategory = {{ item.id }};
    </script>
    {% include "items_list.html.twig" %}
    
    <script src="assets/js/tickets_table.js"></script>
    {% include "open_tickets.html.twig" %}
    {% include "closed_tickets.html.twig" %}
    
{% endif %}