<script src="assets/js/recurring.js"></script>
<form action="{{ constant('EQUIPMENT_WEB_ROOT') }}recurring/save" method="post" id="saveForm">  
    <input type="hidden" name="{{tocken_name}}" value="{{tocken}}" /> 
    <input type="hidden" name="id" value="{{item.id}}" />
    <table>
        <tr>
            <td>
                Ticket:
            </td>
            <td>
                <select id="ticketsDD" name="ticket_id" min="1" required>
                    <option value="0">---Select Ticket---</option>                
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Equipment:
            </td>
            <td>
                <select id="equipmentDD" name="equipment_id" min="1" required>
                    <option value="0">---Select Equipment---</option>                
                </select>
            </td>

        </tr>
        <tr>
            <td>
                Repeat Every:
            </td>
            <td>
                <input id="interval" name="interval" type="text" value="{{ item.interval/item.interval_multiplier }}" min="1" required/> 
                <select id="intervalDD" name="interval_multiplier"> 
                    <option value="86400" 
                            {% if item.interval_multiplier == 86400 %}
                                selected
                            {% endif %}
                            >Days</option>
                    <option value="3600" 
                            {% if item.interval_multiplier == 3600 %}
                                selected
                            {% endif %}
                            >Hours</option>   
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Start Date:
            </td>
            <td>
                <input id="next_date" name="next_date" type="text" required/>                      
            </td>
        </tr>
        <tr>
            <td>
                Active:
            </td>
            <td>
                <input id="active" name="active" type="checkbox" 
                       {% if item.active %}
                           checked
                       {% endif %}
                       />   
            </td>
        </tr>
    </table>
    {% if item.ticket.id is defined %}
        <script>
            var ticket_id
                    = {{ item.ticket.id }};</script>
        {% endif %}      

    {% if item.equipment.id is defined %}
        <script>
                    var equipment_id
                    = {{ item.equipment.id }};
        </script>
    {% endif %}  
    <p style="padding-left:225px;">               
        <button id="saveButton" type="submit">Save</button>  
        <button id="resetButton" type="button">Reset</button>  
        <button id="cancelButton" type="button">Cancel</button>                  
    </p>
</form>